@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

/*
*Removes all default whitespace
*/

* {
  padding: 0;
  margin: 0;
}

/*
*Reset CSS model sizing calculations
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: Arial, sans-serif;
}

.body {
  background: #EAEAEA;
  margin: 0 auto 0 auto;
}

.btn:disabled {
  cursor:not-allowed;
}