<body>
    <section class="address-line-and-fb-icon">
        <article class="address">
            <ul>
                <li>
                    <i class="fas fa-map-marker"></i>
                </li>
                <li>
                    <p>Адрес на ресторанта</p>
                </li>
            </ul>
        </article>
        <article class="log-menu">
            <ul>
                <li *ngIf="!isLoggedIn">
                    <a routerLink="/user/login">Вход</a>
                </li>
                <!-- <li>|</li>
                <li>
                    <a routerLink="/user/register">Регистрация</a>
                </li> -->

                <li *ngIf="isLoggedIn">
                    <a href="/" (click)="logout()">Изход</a>
                </li>
            </ul>
        </article>
    </section>

    <section class="logo-and-info-line">
        <a routerLink="/">
            <img src="../assets/img/logo.png" alt="Logo" class="logo-img logo" />
        </a>
        <nav>
            <ul>
                <li>
                    <article>
                        <div class="contacts-icons">
                            <i class="fas fa-mobile-alt fa-3x"></i>
                        </div>
                        <div class="contacts">
                            <h4>0888 88 88 88</h4>
                            <p>Телефон на ресторанта</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="contacts-icons">
                            <i class="far fa-clock fa-3x"></i>
                        </div>
                        <div class="contacts">
                            <h4>Понеделник - Събота 08:00-22:00</h4>
                            <p>Неделя 09:00 - 21:00</p>
                        </div>
                    </article>
                </li>
            </ul>
        </nav>
    </section>

    <section class="navigation">
        <nav>
            <ul>
                <li *ngIf="isLoggedIn">
                    <a routerLink="/menu"> МЕНЮ </a>
                </li>
                <li *ngIf="isAdmin && isLoggedIn">
                    <a routerLink="/menu/add">ДОБАВИ ПРОДУКТ</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a routerLink="/order/add">КОШНИЦА</a>
                </li>
                <li *ngIf="isAdmin && isLoggedIn">
                    <a routerLink="/order/all">ПОРЪЧКИ</a>
                </li>
                <li>
                    <a routerLink="/contacts">КОНТАКТИ</a>
                </li>
            </ul>
        </nav>
    </section>
</body>